:root {
  --color-white: #ffffff;
  --feather-star: #4fa2f0;
  --aero: #77b6f0;
  --silver-city: #e1e4e8;
  --unique-gray: #c9c9c9;
  --lead: #202020;
  --whire-smoke: #f5f5f5;
  --placebo: #e7e7e7;
}
