.title {
  margin-bottom: 20px;
  font-size: 22px;
  color: black;
}

.form {
  display: flex;
  flex-direction: column;

  .buttons {
    display: flex;
    margin-bottom: 20px;
    text-align: center;
    justify-content: center;
    column-gap: 20px;

    .btnCancel {
      background-color: var(--color-white);
      &:hover {
        text-decoration: underline;
      }
    }
    .btnCreate {
      border: 3px solid var(--feather-star);
      background-color: var(--feather-star);
      border-radius: 5px;
    }
  }

  .cardName {
    margin-bottom: 10px;
    input {
      background-color: var(--whire-smoke);
      font-weight: 300;

      border-radius: 3px;

      &::-webkit-input-placeholder {
        text-align: center;
        opacity: 0.7; /*Change the opacity between 0 and 1*/
      }

      &:focus {
        border: 1px solid black;
      }
    }
  }

  .cardNote {
    textarea {
      resize: vertical;
      background-color: var(--whire-smoke);

      font-weight: 300;

      border-radius: 3px;

      &::-webkit-input-placeholder {
        text-align: center;
        opacity: 0.7; /*Change the opacity between 0 and 1*/
      }

      &:focus {
        border: 1px solid black;
      }
    }
  }
}
