.popup {
  display: flex;
  flex-direction: column;
  min-width: 100px;
  max-width: 200px;
  text-align: center;
  background-color: var(--color-white);

  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 15px;
  color: var(--lead);

  border-radius: 3px;
  box-shadow: 0 0 4px rgb(94, 94, 94);

  position: absolute;
  z-index: 6;
  top: inherit;
  right: 50px;

  &:hover {
    z-index: 7;
  }

  p {
    display: block;
    padding: 5px 25px;
    cursor: pointer;
    border-radius: 3px;

    &:hover {
      background-color: var(--placebo);
    }
  }
}
