.taskPopup {
  padding: 10px 20px;
  min-width: 100px;
  max-width: 200px;
  text-align: center;
  background-color: #fff;

  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 15px;
  color: #202020;

  border-radius: 10px;

  position: absolute;
  left: 0;

  overflow: hidden;
}

.active {
  background-color: #c9c9c9;
  border-radius: 5px;
}
