.container {
  max-width: 1250px;
  margin: 0 auto;
}

header {
  margin-bottom: 24px;
}

.title {
  margin-bottom: 8px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
}

.text {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}
