body {
  background-color: #fff;
  font-family: "Montserrat", sans-serif;
}

.container {
  max-width: 1250px;
  margin: 0 auto;
}

.content {
  padding: 15px;

  border-radius: 12px;
  background-color: #f8f8f8;
}
